html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family:Arial, sans-serif;
    font-size:14px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

li{
    float:left;
}

li a{
    display:block;
    padding:10px;
    text-decoration:none;
    color:#222;
}
li a:hover{
    text-decoration: underline;
}

.footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#f2f2f2;
    color:#70757a;
    display:flex;
    justify-content: space-between;
    padding:10px 10px;
}
.footer a{
    color:#70757a;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:10px;
}
.content{
    margin-top:20%;
}
.rightside{
    margin-right:20px;
}
.rightside-footer{
    margin-right:20px;
}
.middle-footer{
}

#leaf{
    height:14px;
}

#signin{
    background-color: #1a73e8;
    color:white;
    border-style:none;
    border-radius:5px;
    padding: 9px 15px 9px 15px;
}
#signin:hover{
    background-color:black;
}