html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*begins style sheet*/

body{
    font-family:Arial, sans-serif;
    font-size:14px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

li{
    float:left;
}

li a{
    display:block;
    padding:10px;
    text-decoration:none;
    color:#222;
}
li a:hover{
    text-decoration: underline;
}

.footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#f2f2f2;
    color:#70757a;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:50px;
    padding-left:10px;
}
.footer a{
    color:#70757a;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    margin-left:15px;
}
.content{
    height:70vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:20px;
}
.rightside{
    margin-right:35px;
}
.rightside-footer{
    margin-right:20px;
}
.middle-footer{
}

#leaf{
    height:14px;
}

#signin{
    background-color: #1a73e8;
    color:white;
    border-style:none;
    border-radius:5px;
    padding: 9px 25px 9px 25px;
    margin-left:5px;
    border: 1px solid white;
}
#signin:hover{
    background-color:#3e85e2;
    border: 1px solid #84a9da;
}

.search-buttons{
    border:solid 1px #f8f9fa;
    border-radius:3px;
    padding: 10px 15px 10px 15px;
    color:#3c4043;
    background-color:#f8f9fa;
}

.search-buttons:hover{
    border:solid 1px lightgray;
    box-shadow: lightgray;
}

.searchbar-container{
    max-width:750px;
    min-width:300px;
    height:40px;
    width:60vw;
    border: solid 1px lightgray;
    border-radius: 25px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
svg{
    fill:#9aa0a6;
    color:#9aa0a6;
    height:24px;
    padding-left:10px;
    padding-right:10px;
}

.searchbar{
    border:none;
    height: 30px;
    width:50vw;
    max-width:700px;
    min-width:200px;
}

.searchbar:focus{
    outline:none;
}
.mic{
    justify-self:end;
}